<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Login</title>
  </head>
  <body>

    <h1>Credenciales de acceso</h1>
    <br />
    <p>Hola, compartimos con usted las credenciales de acceso a <a href="{{home}}">Digiwork</a>.</p> <br>
    <p>Email: {{email}}</p> <br>
    <p>Contraseña: {{pass}}</p>
  </body>
</html>