<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>

    <h1>Recuperación de contraseñas</h1>
    <br />
    <p>Hola, recientemente fue solicitado el restablecimiento de contraseña. Para poder realizarlo haga <a href="{{link}}">click aquí</a>.</p>
  </body>
</html>