<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reservación</title>
  </head>
  <body>

    <h1>Notificación de Reservación</h1>
    <br />
    <p>Hola, Hemos recibido tu alta de reservación para el día {{reservation_date}} a las {{reservation_hour}}</p> <br>
  </body>
</html>